html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; 
}

::-webkit-scrollbar-thumb {
  background-color: #1e293b; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #334155; 
}

::-webkit-scrollbar-corner {
  background: #020617; 
}

* {
  scrollbar-width: thin;              
  scrollbar-color: #1e293b #020617;    
}